header, footer{
    background-color: #555555;
    color: #ffffff;
    width: auto;
    height: 125px;
    padding-left: 10px;
}
header li > a {
    text-decoration: none;
    color: #ffffff;
}
body {
    background-color: #ffffff;
    color: #000000;
}
