title: Hedson Lopes
description: Portfolio
url: "https://redsonlopez.github.io/page"
baseurl: ""

theme: jekyll-theme-minimal
markdown: kramdown

plugins:
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-include-cache

include: ["_pages"]

